<h1 style="color:white">Restaurants List</h1>

<div class="modal fade" id="newRestaurantModal" tabindex="-1" role="dialog" aria-labelledby="newRestaurantLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      Testing
    </div>
  </div>
</div>

<a href="<%= new_restaurant_path %>" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newRestaurantModal">
  <i class="glyphicon glyphicon-plus"></i>
  <span>Add New Restaurant</span>
</a>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <section>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>Restaurant Name</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <% @restaurants.each do |restaurant| %>
            <tr align="left">
              <td>
                <%= link_to restaurant_path(restaurant) do %>
                  <%= restaurant.name %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
