<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="pitchforksLabel">Pitchforks Menu</h4>
</div>

<div class="modal-body">
  This is where the modal body lies. Information about the Picthforks menu lies here

  <h1>This is the corresponding database table for Restaurants</h1>

  <%= link_to new_restaurant_path, class: "btn btn-success btn-sm" do %>
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add new Restaurant</span>
  <% end %>

  <table>
    <tr>
      <th>R_ID</th>
      <th>Name</th>
    </tr>

    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.r_id %></td>
        <td>
          <%= link_to restaurant_path(restaurant) do %>
            <%= restaurant.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
