<h3>Indiviudal Book Information</h3>

<div class="btn-group">
  <%= link_to edit_restaurant_path(@restaurant), class: "btn btn-primary btn-sm" do %>
    <i class="glyphicon glyphicon-edit"></i>
    <span>Edit Restaurant</span>
  <% end %>
  <%= link_to restaurant_path(@restaurant), class: "btn btn-danger btn-sm", method: :delete do %>
    <i class="glyphicon glyphicon-trash"></i>
    <span>Delete Restaurant</span>
  <% end %>
</div>
