<!-- <div class="center jumbotron">
  <h1>Welcome to the Nutriwatch (still iffy about the name tbh)</h1>
  <h2>
    This is the home page for all your dietary needs~
  </h2>

  <%= link_to "Sign up now!", users_signup_path, class: "btn btn-lg btn-primary" %>
</div> -->

<!DOCTYPE html>
<html>
<title>Nutriwatch</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> -->
<body>

<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:100%">
  <img class="w3-image" src="/assets/homerestaurant.jpg" alt="Me" width="100%" height="600">
  <div class="w3-display-middle">
    <div class="w3-padding-xlarge w3-border w3-border-black w3-wide w3-text-black w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">NUTRIWATCH</h1>
      <h5 class="w3-hide-large" style="white-space:nowrap">NUTRIWATCH</h5>
      <h3 class="w3-hide-medium w3-hide-small">A Food App</h3>
    </div>

    <ul class="w3-navbar w3-light-grey w3-round w3-hide-small w3-display-bottommiddle w3-border w3-border-black" style="bottom:-45px">
      <li><a href="#portfolio">Filters</a></li>
    </ul>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding-xlarge w3-margin-top" id="portfolio">

  <!-- Images (Portfolio) -->
  <a href="<%= restaurants_path %>" data-toggle="modal" data-target="#pitchforksModal">
    <img src="<%= asset_path('pitchforks.jpg') %>" alt="Ocean" class="w3-image" width="1000" height="500x">
	</a>

  <!-- Modal -->
	<div class="modal fade" id="pitchforksModal" tabindex="-1" role="dialog" aria-labelledby="pitchforksLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


  <img src="/assets/loop.jpg" alt="Ocean II" class="w3-image w3-margin-top" width="1000" height="500">

  <!-- Contact -->
  <div class="w3-light-grey w3-padding-xlarge w3-padding-32 w3-margin-top" id="contact">
    <h3 class="w3-center">Contact</h3>
    <hr>
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus.</p>

    <form action="form.asp" target="_blank">
      <div class="w3-group">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" required name="Name">
      </div>
      <div class="w3-group">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" required name="Email">
      </div>
      <div class="w3-group">
        <label>Message</label>
        <input class="w3-input w3-border" required name="Message">
      </div>
      <button type="submit" class="w3-btn w3-btn-block w3-padding-12 w3-dark-grey">Send</button>
    </form><br>

  </div>

<!-- End page <center></center>ontent -->
</div>

</body>
</html>