<div class="center jumbotron">
  <h1>Welcome to the Nutriwatch (still iffy about the name tbh)</h1>
  <h2>
    This is the home page for all your dietary needs~
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
