<h3>Homepage stuff</h3>

<div class="btn-group">
  <%= link_to edit_homepage_path(@homepage), class: "btn btn-primary btn-sm" do %>
    <i class="glyphicon glyphicon-edit"></i>
    <span>Filter</span>
  <% end %>
</div>
